.buttonTextStyle {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #385170;
    background-color: whitesmoke;
    max-width: 150px;
    width: 100%;
    height: 50px;
    border-radius: 30px;
    margin: auto;
    cursor: pointer;
}