.createTaskDiv {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.createTaskDiv p {
    margin: 0;
}

.createTaskDiv input {
    border: 2px solid whitesmoke;
    border-radius: 30px;
    max-width: 800px;
    width: 100%;
    background-color: whitesmoke;
    color: #385170;
    height: 40px;
    font-weight: bold;
    font-size: large;
    padding: 5px;
    padding-left: 20px;
}

.createTaskDiv input::placeholder {
    color: #385170;
}