.navBarStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    font-size: large;
    gap: 20px;
}

.navBarStyle a {
    color: #385170;
}

.navBarLinks {
    display: flex;
    margin-right: auto;
    gap: 20px;
}